.jumbotron-fluid{
    background-image: url("https://www.freepik.com/free-photo/template-defocused-wooden-empty-food_1097079.htm");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-group{
    position: sticky;
}